<div class="container">
    <h2>Contactanos</h2>
    <form>
        <div class="row">
            <div class="col-md-6">
            <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-md-12">
                <label for="exampleFormControlTextarea1">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <a href="" class="btn btn-primary">Enviar</a>
    </form>
</div>

<router-outlet></router-outlet>
